<div class="mb-1 header">
  <span class="title-font">Editando álbum</span>
  <a class="waves-effect waves-light btn btn-color-default-secondary" [routerLink]="['/player']">
    <i class="material-icons left">arrow_back</i>Voltar
  </a>
</div>
<hr class="mb-1">
<div class="row">
  <form #addPlayer="ngForm" (ngSubmit)="onSubmit()" class="col s12">
    <p-messages></p-messages>
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Digite o nome..." id="name" name="name" #name="ngModel" type="text" class="validate"
          [(ngModel)]="album.name" required>
        <label class="active" for="name">Nome</label>
      </div>
      <div class="input-field col s6">
        <input placeholder="Digite o autor..." id="owner" name="owner" #owner="ngModel" type="text" class="validate"
          [(ngModel)]="album.owner" required>
        <label class="active" for="owner">Autor</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Digite o link de acesso dos arquivos..." id="link" name="link" #link="ngModel" type="text"
          class="validate" [(ngModel)]="album.link" required>
        <label class="active" for="link">Link para acesso dos arquivos</label>
      </div>
    </div>
    <div class="row">
      <span class="sub-title-font">Músicas</span>
    </div>
    <div class="row">
      <div class="row col s12" *ngFor="let music of album.musics; let i = index">
        <div>
          <span class="mr-05">Música #{{i+1}}</span>
          <a class="waves-effect waves-light btn btn-small btn-color-default-danger" (click)="this.removeMusic(i)">
            <i class="material-icons">delete</i>
          </a>
        </div>
        <div class="input-field col s12">
          <input placeholder="Digite o título..." id="title{{i}}" name="title{{i}}" #title="ngModel" type="text"
            class="validate" [(ngModel)]="music.title" required>
          <label class="active" for="title{{i}}">Título</label>
        </div>
        <div class="input-field col s12">
          <input placeholder="Digite o nome do artista..." id="artist{{i}}" name="artist{{i}}" #artist="ngModel" type="text"
            class="validate" [(ngModel)]="music.artist" required>
          <label class="active" for="artist{{i}}">Artista</label>
        </div>
        <div class="input-field col s12">
          <input placeholder="Digite o link da imagem da capa..." id="cover{{i}}" name="cover{{i}}" #cover="ngModel"
            type="text" class="validate" [(ngModel)]="music.cover" required>
          <label class="active" for="cover{{i}}">Capa (link da imagem)</label>
        </div>
        <div class="input-field col s12">
          <input placeholder="Digite o link de acesso do arquivo..." id="file{{i}}" name="file{{i}}" #file="ngModel"
            type="text" class="validate" [(ngModel)]="music.file" required>
          <label class="active" for="file{{i}}">Arquivo (link de acesso)</label>
        </div>
      </div>
      <div class="flex-space-between" style="padding: 0 0.8rem;">
        <a class="btn-floating btn-large waves-effect waves-light btn-color-default" (click)="this.addMusic()"><i
            class="material-icons">add</i></a>
        <button class="waves-effect waves-light btn btn-color-default-success">
          <i class="material-icons left">check</i>Atualizar
        </button>
      </div>
    </div>
  </form>
</div>

<!-- Spinner -->
<ngx-spinner type="ball-scale-multiple">
  <span class="white-font">Carregando...</span>
</ngx-spinner>
