<!-- Navbar goes here -->
<nav>
  <div class="nav-wrapper">
    <a href="#" routerLink="/" class="brand-logo">
      <img
        class="logo-alegria"
        src="../assets/img/logo/logo_com_escrita.svg"
        alt=""
      />
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="https://alegria-prtl.web.app/space-joy">Tela inicial</a></li>
    </ul>
  </div>
</nav>

<!-- Page Layout here -->
<div class="row">
  <div class="col s3">
    <p-panelMenu
      [model]="items"
      styleClass="container-panel-menu"
    ></p-panelMenu>
  </div>
  <div class="col s9">
    <div class="page-layout">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
