<div class="container">
  <div class="row">
    <div class="col s12 m4">
      <img class="background-img-logo" src="../../../assets/img/logo/logo.svg" alt="Logo Alegria Cristã">
    </div>
    <div class="background-login-layout col s12 m8 mt-10 mt-0">
      <div class="input-field col s12">
        <h5>Acessar o painel administrativo</h5>
      </div>
      <div class="input-field col s12">
        <input id="username" type="text" class="validate">
        <label class="active" for="username">Username</label>
      </div>
      <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label class="active" for="password">Senha</label>
      </div>
      <button class="btn waves-effect waves-light btn-color-default" type="submit" name="action">Entrar
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</div>


<ngx-spinner bdColor="rgba(51,51,51,0.8)" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>