/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

main {
  flex: 1 0 auto;
}

.btn-color-default {
  background-color: var(--yellow-400);
  color: var(--yellow-900);
}

.btn-color-default:hover {
  background-color: var(--yellow-600);
  color: var(--yellow-50);
}
