/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* main {
  flex: 1 0 auto;
} */

/* BUTTONS DEFAULT */

.btn-color-default {
  background-color: var(--yellow-400);
  color: var(--yellow-900);
}

.btn-color-default:hover {
  background-color: var(--yellow-600);
  color: var(--yellow-50);
}

.btn-color-default-success {
  background-color: var(--green-400);
  color: var(--green-900);
}

.btn-color-default-success:hover {
  background-color: var(--green-600);
  color: var(--green-50);
}

.btn-color-default-secondary {
  background-color: var(--bluegray-400);
  color: var(--bluegray-900);
}

.btn-color-default-secondary:hover {
  background-color: var(--bluegray-600);
  color: var(--bluegray-50);
}

.btn-color-default-danger {
  background-color: var(--red-400);
  color: var(--red-900);
}

.btn-color-default-danger:hover {
  background-color: var(--red-600);
  color: var(--red-50);
}

.btn-color-default-warning {
  background-color: var(--orange-400);
  color: var(--orange-900);
}

.btn-color-default-warning:hover {
  background-color: var(--orange-600);
  color: var(--orange-50);
}

/* MARGIN-TOP */
.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-10 {
  margin-top: 10rem;
}

/* MARGIN BOTTOM */
.mb-1 {
  margin-bottom: 1rem;
}

/* MARGIN RIGHT */
.mr-05 {
  margin-right: 0.5rem;
}

/* INPUT DEFAULT */

/* label focus color */
.input-field input:focus + label {
  color: var(--yellow-900) !important;
}
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid var(--yellow-900) !important;
  box-shadow: 0 1px 0 0 var(--yellow-900) !important;
}

/* COLOR FONT */
.white-font {
  color: #fff;
}
